<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="Namespace" value="SwgohHelpApi.Model" />
      <add key="InternalVisibility" value="false" />
      <!--CSharpCodeWriter, VisualBasicCodeWriter, TypeScriptCodeWriter-->
      <add key="CodeWriter" value="CSharpCodeWriter" />
      <add key="ExplicitDeserialization" value="false" />
      <add key="NoHelperClass" value="false" />
      <add key="SecondaryNamespace" value="" />
      <add key="TargetFolder" value="./generated" />
      <add key="UseProperties" value="true" />
      <add key="MainClass" value="NewClassGenerated" />
      <add key="UsePascalCase" value="true" />
      <add key="UseNestedClasses" value="false" />
      <add key="ApplyObfuscationAttributes" value="false" />
      <add key="SingleFile" value="false" />
      <add key="ExamplesInDocumentation" value="false" />
    </appSettings>
</configuration>